<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <title>{% block title %}ProStages{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('/css/bootstrap.min.css')}}">
        {% endblock %}
    </head>
    <body>
    <div class="container-fluid">
	    <div class="row">
		    <div class="col-md-12">
                {% block entete %}
                   <center><h1>ProStages</h1></center>
                {% endblock %}
            </div>
        </div>
        <div class="row">
		    <div class="col-md-12">
                {% block menu %}
                 {% endblock %}
            </div>
        </div>
        <div class="row">
		    <div class="col-md-12">
                {% block contenu %}
                {% endblock %}
            </div>
        </div>
        <div class="row">
		    <div class="col-md-12">
                {% block footer %}
                    PIED DE PAGE
                {% endblock %}
            </div>
        </div>
    </div>
    {% block javascripts %}
        <script src="{{asset('/js/bootstrap.bundle.min.js')}}"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="{{asset('/js/bootstrap.min.js')}}"></script>
    {% endblock %}
    </body>
</html>